body {
	height: 600px;
	background-size: 200% 200%;
  	background-color: rgb(171, 72, 190); /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgb(66, 36, 89), rgb(19, 10, 37));
}