#title-reviews {
	position: absolute;
	bottom: 40%;
	right: 37%;
	font-size: 50px;
	color: white;
}

/*Nav - reviews*/
#review-nav {
	padding-top: 5%;
}


.reviews {
	width: 41%;
	gap: 7%;
	display: flex;
	list-style-type: none;
	padding: 2%;
	background: #1a1027;
	border-radius: 38%;
}

.reviews a {
	text-decoration: none;
	color: rgb(236, 224, 255);
	font-size: 140%;
}

/**/
#game-row {
	padding-top: 3%;
	h2{font-size: 200%;color: white; padding-left: 3%;}
}

#game-row-background {
	position: relative;
	background: #1a1027;
	border-radius: 3%;
	padding: 3%;
}

#arrow-prev, #arrow-next {
    position:absolute;
    background:#7b53af7e;
    color: white;
    text-decoration: none;
    font-size:3em;
}

#arrow-prev {
    left:2%;
	top: 42%;
}

#arrow-next {
    right:2%;
	top: 42%;
}

#gamepic {
	width: 25%;
	padding-left: 2%;
}

@media only screen and (max-width: 768px) {
	#title-reviews {
		bottom: 6%;
		right: 20%;
	}

	#gamepic {
		display: flex;
		flex-wrap: wrap;
		min-width: 70%;
		margin: auto;
		flex-direction: row;
	}

	#arrow-prev {
    	left:2%;
		top: 100%;
	}

	#arrow-next {
    	right:2%;
		top: 100%;
	}
}