
*{
	font-family:'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	width: 1310px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: #1a1027;
	h2{font-size: 200%;color: white; padding-left: 3%;}
}

.games-reviews {
	width: 1200px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	img{ width: 300px; height: 150px;} 
}

.content-box {
	display: flex;
	align-items: center;
	gap: 28px;
}

.card {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arrow-prev, #arrow-next {
    position:absolute;
    background:#7b53af7e;
    color: white;
    text-decoration: none;
    font-size:3em;
}

#arrow-prev {
    left:2%;
	top: 42%;
}

#arrow-next {
    right:2%;
	top: 42%;
}
