/* -----Structure----- */
#main-nav {
	width: 100%;
	margin-top: 3%;
	padding-left: 2%;
}

#columns {
	gap: 3.5%;
	display: flex;
	list-style-type: none;
}

#columns a {
	text-decoration: none;
	color: rgb(236, 224, 255);
	font-size: 140%;
	font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	font-weight: 600;
}

/* -----Animation----- */
.columns-nav li :hover{ /*Animation is not working*/
	opacity: 0.6;
  	transition: 0.3s;
	height: 10%;
}

@media only screen and (max-width: 768px) {

	#toggle-nav div {
		width:25px;
		height:2px;
		background-color:rgb(255, 255, 255);
		margin:6px 0;
	}

	#columns {
		position: relative;
		right: 14%;
		text-align: center;
		flex-direction: column;
		padding-top: 20%;
	}

	#columns.hide-small {
    display: none;
  	}

}