.top-trendy {
	flex: 2;
	width: 100%;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	padding-top: 12%;
}

.split {
	flex: 2;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	padding-top: 20%;
	width: 100%;
}

.split-one {
	width: 50%;
	padding-left: 3%;
	color: white;
	h2{color:white; }
	p{color: white; width: 140px;}
}

.split-two {
	flex: 1;
	img{width: 70%;}
}

.line-chart {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}

.games-trendy {
	flex: 1;
	height: 300px;
	overflow-y:scroll;
	overflow-x: hidden;
	width: 200px;
}

.content-box-trendy {
	display: flex;
	flex-direction: column;
	align-items: center;
	img{width: 200px; height: 100px;}
}